.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.freeBox___8Qdfh {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 100px;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.freeBox___8Qdfh > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox___8Qdfh > :global(.__wab_flex-container) > *,
.freeBox___8Qdfh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8Qdfh > :global(.__wab_flex-container) > picture > img,
.freeBox___8Qdfh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.clerkUserButton:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__edpTx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__vGbGp {
  font-weight: 300;
  font-size: 14px;
}
.svg__rPLh {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.logoutWrapper:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__t8ZBz {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__wjU6V {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 32px;
  min-width: 0;
}
.text__rjriA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
